{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Company details{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="order" user=user%}
{% endblock %}

{% block second-navbar %}
{% include "_order_nav.html" with active_link="order_create" user=user %}
{% endblock %}


<!-- Benefits of the Django application -->
{% block container %}

<div style="display:none;" id="form_template">
	<div class='row'>
		{% for field in formset.empty_form %}
		<div class="col-sm-1"><i class='alert-danger'>{{ field.errors }}</i> <b>{{ field.label }} : </b> {{ field }}</div>
		{% endfor %}

	</div>
		<hr style="border:2px solid black">
</div>

<form method="post" >{% csrf_token %}
	<div id='order-form-container'>
		{{ order_form }}
	</div>
	<hr style="border:2px solid black">
	<div id='form-container'>
		{% for form in formset %}
		<div class="form_template">
			<div class='row'>
				{% for field in form %}
				<div class="col-sm-1"><i class='alert-danger'>{{ field.errors }}</i> <b>{{ field.label }} : </b> {{ field }}</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<hr style="border:2px solid black">
	</div>
	{{ formset.management_form }}
	<input type="submit" value="Обнови" class="btn btn-info"/>
	<input type="button" id="generate_forms" value="Добави ред" class='btn btn-warning' />
</form>



{% endblock container %}

{% block scripts %}
<script>
	$(function() {
        $("#generate_forms").click(function() {
			var form_idx = $('#id_formset-TOTAL_FORMS').val();
            html = $("#form_template").html().replace(/__prefix__/g, form_idx);
            $("#form-container").append(html);
            $('#id_formset-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    });
</script>
{% endblock scripts %}
