{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Company details{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="company" user=user%}
{% endblock %}

{% block second-navbar %}
{% include "_company_nav.html" with active_link="add_company" user=user %}
{% endblock %}


<!-- Benefits of the Django application -->
{% block container %}

<form method="post">{% csrf_token %}
	{{ formset.management_form }}
	<div style="display:none;" id="form_template">
		<div class='row'>
			{% for field in formset.empty_form %}
			<div class="col-sm-1"><b>{{field.label}} : </b> {{ field }}</div>
			{% endfor %}
			<hr style="border:2px solid black">
		</div>
	</div>
	<div id="forms"></div>

	<input type="submit" value="Create" class="btn btn-info"/>
</form>
<input type="text" name="quantity" value="1" />
<input type="submit" id="generate_forms" value="Generate Forms" />

{% endblock container %}

{% block scripts %}
<script>
	$(function() {
        // this is on click event just to demo.
        // You would probably run this at page load or quantity change.
        $("#generate_forms").click(function() {
            // update total form count
            quantity = $("[name=quantity]").val();
            $("[name=form-TOTAL_FORMS]").val(quantity);

            // copy the template and replace prefixes with the correct index
            for (i=0; i < quantity; i++) {
                // Note: Must use global replace here
                html = $("#form_template").clone().html().replace(/__prefix_/g, i);
                $("#forms").append(html);
            }
        });
    });
</script>
{% endblock scripts %}
