{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}


{% block navbar-left %}
{% include "_navbar.html" with active_link="company" user=user%}
{% endblock %}

  camp = models.ForeignKey('Camp', related_name='products')
    abrasive = models.ForeignKey('Abrasive', related_name='products')
    color = models.ForeignKey('Color', related_name='products')
    order = models.ForeignKey('Order', related_name='products')
    sizeX = models.DecimalField(max_digits=5, decimal_places=2)
    sizeY = models.DecimalField(max_digits=5, decimal_places=2)
    sizeZ = models.DecimalField(max_digits=5, decimal_places=2)
    STATUS_CHOICES = (
        (Decimal(0.34), '0.34'),
        (Decimal(0.44), '0.44'),
        (Decimal(0.32), '0.32'),
    )
    price_for_one = models.DecimalField(max_digits=10, decimal_places=2, choices=STATUS_CHOICES)
    quantity = models.IntegerField()
    TYPES = [
        ['schlei', u'Шлайфане'],
        ['cutting', u'Рязане'],
        ['schlei_and_cutting', u'Рязане и шлайфане'],
    ]
    action = models.CharField(
        max_length=250,
        choices=TYPES
    )

<!-- Benefits of the Django application -->
{% block container %}
<h2>Компания: {{ object.company }}</h2>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title" id="panel-title"><h2>Дата на поръчката: {{ object.date }}</h2></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Лагер</th>
						<th>Абразив</th>
						<th>Размер X</th>
						<th>Размер Y</th>
						<th>Размер Z</th>
						<th>Единична цена</th>
						<th>Количество</th>
						<th>Цвят</th>
						<th>Операция</th>
					</tr>
				</thead>
				<tbody>
					{% for product in object.products.all %}
					<tr>
						<td>{{ product.camp }}</td>
						<td>{{ product.abrasive }}</td>
						<td>{{ product.sizeX }}</td>
						<td>{{ product.sizeY }}</td>
						<td>{{ product.sizeZ }}</td>
						<td>{{ product.price_for_one }}</td>
						<td>{{ product.quantity }}</td>
						<td>{{ product.action }}</td>
						<td>{{ product.color }}</td>
					</tr>
					{% endfor %}
				</tbody>
				 <tfoot>
				    <tr>
				      <td>Общо</td>
				      <td>{{ object.total_amount }}</td>
				    </tr>
				  </tfoot>
			</table>
		</div>
	</div>



</div>
{% endblock container %}

{% block scripts %}
{% endblock scripts %}

