
{% if user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li class="presentation{% if active_link == 'all_user_companies' %} active{% endif %}">
            <a href="{% url 'companies' user.id %}" class="nav-item-link sub-link">Всички фирми</a>
        </li>
        <li class="presentation{% if active_link == 'add_company' %} active{% endif %}">
            <a href="{% url 'company_create' user.id %}" class="nav-item-link sub-link">Добави фирма</a>
        </li>
    </ul>
{% endif %}
